.tag.opensource,
.tag.opensource::before {
    content: "open source";
    background-color: #298a20;
}

.tag.closedsource,
.tag.closedsource::before {
    content: "closed source";
    background-color: #d43a3a;
}

.tag.html,
.tag.html::before {
    content: "html";
    background-color: #E44D26;
}

.tag.css,
.tag.css::before {
    content: "css";
    background-color: #42A5F5;
}

.tag.scss,
.tag.scss::before {
    content: "scss";
    background-color: #BF4080;
}

.tag.js,
.tag.js::before {
    content: "js";
    background-color: #FFCA28;
}

.tag.bootstrap,
.tag.bootstrap::before {
    content: "bootstrap";
    background-color: #1E88E5;
}

.tag.react,
.tag.react::before {
    content: "react";
    background-color: #00BCD4;
}

.tag.swift,
.tag.swift::before {
    content: "swift";
    background-color: #FE5E2F;
}

.tag.git,
.tag.git::before {
    content: "git";
    background-color: #E64A19;
}

.tag.tailwind,
.tag.tailwind::before {
    content: "tailwind css";
    background-color: #4DB6AC;
}

.tag.mysql,
.tag.mysql::before {
    content: "mysql";
    background-color: #f29111;
}

.tag.php,
.tag.php::before {
    content: "php";
    background-color: #1E88E5;
}

.tag.c,
.tag.c::before {
    content: "c";
    background-color: #0277BD;
}

.tag.nodejs,
.tag.nodejs::before {
    content: "nodejs";
    background-color: #8BC34A;
}

.tag.ahk,
.tag.ahk::before {
    content: "ahk";
    background-color: #4CAF50;
}

.tag.lua,
.tag.lua::before {
    content: "lua";
    background-color: #000080;
}