<footer>
    <div class="socials">
        <a class="link" id="discord" href="https://www.discord.com/users/272535850200596480/" alt="Discord" target="_blank" rel="nofollow"></a>
        <a class="link" id="twitter" href="https://www.twitter.com/fruitynano/" alt="Twitter" target="_blank" rel="nofollow"></a>
        <a class="link" id="twitch" href="https://www.twitch.tv/mrnanovirus/" alt="Twitch" target="_blank" rel="nofollow"></a>
        <a class="link" id="youtube" href="https://www.youtube.com/channel/UCMhXoxlrF-iJvPZcMjZyn_g/" alt="YouTube" target="_blank" rel="nofollow"></a>
        <a class="link" id="steam" href="https://www.steamcommunity.com/id/cjstitt/" alt="Steam" target="_blank" rel="nofollow"></a>
        <a class="link" id="github" href="https://github.com/misternano/" alt="Github" target="_blank" rel="nofollow"></a>
    </div>
</footer>